contourpy>=1.1.1
cycler==0.12.1
fonttools==4.56.0
kiwisolver>=1.4.7
matplotlib>=3.7.5
numpy>=1.24.4
packaging==24.2
pandas>=2.0.3
pillow>=10.4.0
pyparsing>=3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
scipy>=1.8.0
six==1.17.0
tzdata==2025.1
