*.o
*.elf
*.img
*.s[a-w][a-z]
*.~
*.cmd
*.order
*.rpt
*.map
*.ko
*.mod.c
*.rbf
*.symvers
.tmp_versions

hdl/quartus/work/*

fx3_firmware/make/toolchain.mk
fx3_firmware/elf2img

host/build/*
host/libraries/libbladeRF/doc/doxygen/html
host/libraries/libbladeRF/doc/doxygen/Doxyfile
