*.o
*.elf
*.img
*.sw[a-p]
*~
*.cmd
*.order
*.rpt
*.map
*.ko
*.mod.c
*.rbf
*.symvers
*.bsf
*.cmp
*.objdump
*.orig
.tmp_versions
.dir-locals.el
GPATH
GTAGS
GRTAGS
tags
TAGS
cscope.files
cscope.out

hdl/quartus/work/*
hdl/quartus/hostedx*
hdl/quartus/atsc_txx*
hdl/quartus/fsk_bridgex*
hdl/quartus/qpsk_txx*

fx3_firmware/make/toolchain.mk
fx3_firmware/build/*

build/

host/examples/gnuradio/frs/bladeRF_frs.py

host/libraries/libbladeRF/doc/doxygen/html
host/libraries/libbladeRF/doc/doxygen/Doxyfile
host/libraries/libbladeRF/lib
host/libraries/libbladeRF/bin

host/misc/windows/scripts/bladeRF-env.bat
host/misc/windows/scripts/work

**/.qsys_edit

**/modelsim/transcript
**/modelsim/*.wlf
**/modelsim/work/
**/modelsim/nuand/

# Common Python virtual environment names
env/
venv/
ENV/

.vscode/
