*.o
*.elf
*.img
*.sw[a-p]
*~
*.cmd
*.order
*.rpt
*.map
*.ko
*.mod.c
*.rbf
*.symvers
*.bsf
*.cmp
*.objdump
*.orig
.tmp_versions
.dir-locals.el
GPATH
GTAGS
GRTAGS
tags
TAGS

hdl/quartus/work/*
hdl/quartus/hostedx*
hdl/quartus/atsc_txx*

fx3_firmware/make/toolchain.mk
fx3_firmware/build/*

build/*

host/build/*

host/examples/gnuradio/frs/bladeRF_frs.py

host/libraries/libbladeRF/doc/doxygen/html
host/libraries/libbladeRF/doc/doxygen/Doxyfile
host/libraries/libbladeRF/lib
host/libraries/libbladeRF/bin

host/misc/windows/scripts/bladeRF-env.bat
host/misc/windows/scripts/work

hdl/fpga/ip/altera/nios_system/.qsys_edit
hdl/fpga/ip/altera/nios_system/nios_system.html
hdl/fpga/ip/altera/nios_system/nios_system.sopcinfo
hdl/fpga/ip/altera/nios_system/software/bladeRF_nios/mem_init
hdl/fpga/ip/altera/nios_system/software/bladeRF_nios/obj
hdl/fpga/ip/altera/nios_system/software/bladeRF_nios_bsp
hdl/fpga/ip/altera/nios_system/synthesis/

**/modelsim/transcript
**/modelsim/vsim.wlf
**/modelsim/work/
**/modelsim/nuand/
