#!/usr/bin/make -f
# -*- makefile -*-
# vim:noet

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Determine our target architecture
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Recommended by http://www.debian.org/doc/manuals/maint-guide/advanced.en.html
#override_dh_auto_configure:
#	dh_auto_configure
#	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
#		debian/TODO.links.in > debian/TODO.links

# To make lintian happy, make the manpages properly cased
override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/share/man/man1/bladerf-cli.1 debian/tmp/usr/share/man/man1/bladeRF-cli.1
	mv debian/tmp/usr/share/man/man1/bladerf-flash.1 debian/tmp/usr/share/man/man1/bladeRF-flash.1

%:
	dh $@ 
