#!/usr/bin/make -f
# -*- makefile -*-
# vim:noet

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Determine our target architecture
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Recommended by http://www.debian.org/doc/manuals/maint-guide/advanced.en.html
#override_dh_auto_configure:
#	dh_auto_configure
#	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
#		debian/TODO.links.in > debian/TODO.links

%:
	dh $@ 
